:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey1: hsl(0, 0%, 20%);
  --Grey2: hsl(0, 0%, 12%);
  --Grey3: hsl(0, 0%, 8%);
}

body {
  background: var(--Grey3);
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
section{
  
  margin: 70px 0;
  border-radius: 20px;
  background: var(--Grey2);
  text-align: center;  
  width: 350px;
}
section img{
  margin: 15px;
  border-radius: 100px;
}
section h1{
  justify-content: center;
  color: var(--White);
}
section h4{
  color: var(--Green);
}
section span{
  color: var(--White);
}

section ul{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 10px 5px;
}

section ul li{
  background: var(--Grey1);
  text-align: center;
  list-style: none;
  justify-content: center;
  margin-top: 10px;
  margin: 0.5rem;
  color: var(--White);
  width: 80%;
  height: 40px;
  border-radius: 10px;
  padding-top: 20px;
  

}